<div class="report">
  <h3>お知らせ</h3>
  <table class="table">
    <thead>
      <tr></tr>
    </thead>
    <tbody>
      <% reports.each do |report| %>
        <tr>
          <td><%= attachment_image_tag report, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %></td>
          <td><%= report.title %></td>
          <td><%= report.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>