<div class="report font-color">
  <h3 class="text-center">~お知らせ~</h3>
      <% reports.each do |report| %>
          <p><%= attachment_image_tag report, :image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %></p>
          <h6><%= report.title %></h6>
          <h6><%= report.body %></h6>
      <% end %>
</div>