<div class="report font-color mt">
  <h3 class="text-center title-color">~お知らせ~</h3>
    <% reports.each do |report| %>
      <div class="mt"><%= attachment_image_tag report, :image, size: "100x100", format: 'jpeg', fallback: "no_image.png" %></div>
      <h6 class="mt"><%= report.title %></h6>
      <h6><%= report.body %></h6>
    <% end %>
</div>