<div class="description">
  <br>
  <h3 class="title-color">新海館とは..</h3>
  <h6>
    利用者様同士で好きな映画作品を通してコミュニケーションが取れるアプリケーションになります!
    好きな作品やジャンルを検索してお気に入りの作品を見つけ、ユーザ様同士で作品の共有 情報交換がダイレクトメッセージを通して、趣味の合う方々とDMで繋がれます!!<br>
    好みの作品や映画監督を フォローしたユーザ様のお気に入り一覧やランキングから見つけ、素敵な映画作品や利用者様と繋がり結んでいきましょう^^
  </h6>
  <hr>
  <h3 class="title-color">利用方法!!</h3>
  <h4>(Movieページ)</h4>
  <h6>・Movieページから利用者様の評価ランキングが1~3位までが表示されておりますので利用者様方のお勧めの映画が確認できます。</h6>
  <h6>・映画の一覧から気になりました映画の写真から詳細ページに渡り、気になる作品などはお気に入りボタンを押して、すぐに確認できるように保存しておくと後に確認しやすくなります＾＾</h6>
  <h6>・視聴しました映画の感想を投稿して利用者様方に面白みや、感じた感想などを投稿して多くの方に感動や高まる気持ちを共有しましょう＾＾</h6>
  <hr>
  <h4>(Userページ)</h4>
  <h6>・あなたの好きなジャンル、似た作品をお気に入りや感想を投稿したユーザ様をフォローしてあなたに合う作品が見つかりやすいようにしてみるもの良いかと思います!</h6>
  <h6>・ユーザ様の詳細ページ上に各ユーザ様方のランキングも表示されますのでヒントにしてみてください!</h6>
  <h6>・ユーザ様同士で映画の会話を楽しんでみてはいかがでしょう＾＾</h6>
</div>