<% if user_signed_in? %>
  <div class="col-sm-12 back-image-2 font-color">
      <% if  current_user.is_admin? != true %>
        <%= render 'slide-show' %>
        <h6>新海館とは..</h6>
      <% else %>
          <div class="report_list mt">
            <%= render 'admin_index', report: @report, reports: @reports %>
          </div>
      <% end %>
  </div>
<% end %>

<script>
// slide-show
  $(document).ready(function () {
    $("#images").skippr({
      transition : 'slide',
      speed : 2000,
      easing : 'easeOutQuart',
      navType : 'bubble',
      childrenElementType : 'div',
      arrows : false,
      autoPlay : true,
      autoPlayDuration : 4000,
      keyboardOnAlways : true,
      hidePrevious : false
    });
  });
</script>