<% if user_signed_in? %>

      <% if  current_user.is_admin? != true %>
          <div class="customer">
            <h4>新海館とは..</h4>
          </div>
      <% else %>
          <div class="admin">
            <%= render 'admin_index', report: @report, reports: @reports %>
          </div>
      <% end %>

<% end %>