<% if user_signed_in? %>
  <div class="back-image-2 font-color">
      <% if  current_user.is_admin? != true %>
        <div class="description">
          <h4 class="title-color">こんな時あなたにも訪れませんか??</h4>
          <h6>・この映画好きだけど何度も見るより似たような他の映画が見たい、</h6>
          <h6>・自分で探すと好きなジャンルが片寄ってしまう。</h6>
          <h6>・他の方の意見、ランキングや評価で決めたい!!</h6>
          <h6 class="title-color">簡単なご説明させていただいておりますので下記をご確認ください^^</h6>
        </div>
          <%= render 'slide-show' %>
          <%= render 'description' %>
      <% else %>
          <div class="report_list mt">
            <%= render 'admin_index', report: @report, reports: @reports %>
          </div>
      <% end %>
  </div>
<% end %>

<script>
// slide-show
  $(document).ready(function () {
    $("#images").skippr({
      transition : 'slide',
      speed : 1000,
      easing : 'easeOutQuart',
      navType : 'bubble',
      childrenElementType : 'div',
      arrows : false,
      autoPlay : true,
      autoPlayDuration : 3000,
      keyboardOnAlways : true,
      hidePrevious : false
    });
  });
</script>