<% if user.errors.any? %>
  <div class="error_pranation">
    <h2 class="error-text">エラー箇所がございます</h2>
      <% user.errors.full_messages.each do |message| %>
    <ul>
        <li class="mt"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>