<% notifications.each do |notification| %>
  <% visitor = notification.visitor %>
  <% visited = notification.visited %>
    <div>
      <p><%= notification.created_at.strftime("%m/%d/ %H:%M") %></p>
      <% case notification.action
        when 'follow' %>
        <p><%= visitor.name %>さんが あなたをフォローしました♪</p>
      <% end %>
    </div>
<% end %>