<table>
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% genres.each do |genre| %>
        <td>
          <%= link_to movies_path(genre_id: genre.id) do %>
            <%= genre.name %>
          <% end %>
        </td>
      </tr>
        <% end %>
    </tbody>
</table>