<h4 class="mt font-color">
  </label>"<%= genre.name %>" の検索結果</label>
  <label><%= movies.count %>件</label>
</h4>
<div class="row index-movie-contents">
  <%= render 'movie', movies: movies %>
</div>