<table>
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <td><%= link_to "全作品", movies_path %></td>
      <% genres.each do |genre| %>
        <tr>
          <td>
            <%= link_to movies_path(genre_id: genre.id) do %>
              <%= genre.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>