<h4 class="col-sm-12 text-white mt-3">
  </label>"<%= genre.name %>" の検索結果</label>
  <label><%= movies.count %>件</label>
  <% if current_user.is_admin? == true %>
    <%= link_to "新規映画作成", new_movie_path, class: "btn btn-outline-success text-white" %>
  <% end %>
</h4>

<%= render 'movie', movies: movies %>