<div class="font-color">
  <h6>ジャンル検索</h6>
  <h6><%= link_to "全作品", movies_path, class: "text-white" %></h6>
    <% genres.each do |genre| %>
      <%= link_to movies_path(genre_id: genre.id), class: "text-white" do %>
        <h6><%= genre.name %></h6>
      <% end %>
    <% end %>
</div>