<div class="favorite-btn">
  <% if @movies.exists? %>
        <% @movies.each do |movie| %>
          <%= render 'favorite_index', movie: movie %>
        <% end %>
  <% else %>
        <div class="dont-like">現在いいねしている映画はございません</div>
  <% end %>
</div>

<div class="report">
  <%= render 'users/homes/customer.index', reports: @reports %>
</div>