<div class="col-sm-12 back-image-2">

    <div class="row">
      <div class="col-sm-10 favorite-list">
        <% if @movies.exists? %>
            <div class="row">
            <% @movies.each do |movie| %>
                <%= render 'favorite_index', movie: movie, user: @user %>
            <% end %>
            </div>
        <% else %>
              <div class="no-favo font-color">現在いいねしている映画はございません</div>
        <% end %>
      </div>

      <div class="side-menu col-sm-2">
        <div class="slide"><%= render 'users/homes/customer_index', reports: @reports %></div>
      </div>
    </div>

</div>