<tr>
  <% if message.user_id != current_user.id %>
    <td>
      <%= message.created_at.strftime("%H:%M") %>
      <%= message.message %>
    </td>
    <td colspan="2"></td>
  <% else %>
    <td colspan="1"></td>
    <td>
      <%= message.created_at.strftime("%H:%M") %>
      <%= message.message %>
    </td>
  <% end %>
</tr>