<div class="col-sm-12 back-image-2">
  <div class="followings font-color text-center pt-3">

    <% if @users.exists? %>
      <h3>
        <% if @user == current_user %>
          <label>あなたのフォロワー</label>
        <% else %>
          <label><%= @user.name %> さんのフォロワー</label>
        <% end %>
      </h3>
      <%= render 'relationship', users: @users %>
    <% else %>
        <h3>フォロワーは現在いません</h3>
    <% end %>

  </div>
</div>