<div class="back-image-2">
  <div class="follower font-color text-align mt">
    <% if @users.exists? %>
      <% if @user == current_user %>
        <h3>あなたがフォローしています</h3>
      <% else %>
        <h3><%= @user.name %>さんがフォローしています</h3>
      <% end %>
      <div id="relationships_<%= @user.id %>"><%= render 'relationship', users: @users %></div>
    <% else %>
        <h3>フォローしているユーザは現在いません</h3>
    <% end %>
  </div>
</div>