// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.new-genre {
  padding: 30px;
}

.genre-list {
  font-weight: bold;
  text-align: center;
   padding: 30px;
   max-width: 550px;
   background-color: rgba( 0, 0, 0, 0.4 );
   margin: 20px auto;
   border-radius: 20px;
}

// edit
.edit-genre {
 text-align: center;
 padding: 200px 30px;
 max-width: 550px;
 background-color: rgba( 0, 0, 0, 0.4 );
 margin: 0 auto;
 border-radius: 20px;
}

// text_
#genre_name {
  width:  200px;
}