// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
 .fa-star{
  color: #FF8B26;
 }

 .genre {
  margin-left: 30px;
 }

// show
.show-movie {
 text-align: center;
  background-color: rgba( 999, 999, 999, 0.1 );
  height: 400px;
  font-weight: bold;
  border-radius: 20px;
}

.movie-show {
 padding-top:30px;
}

// edit
.edit-movie {
 text-align: center;
 padding: 250px 30px;
 max-width: 550px;
 background-color: rgba( 0, 0, 0, 0.4 );
 margin: 0 auto;
 border-radius: 20px;
}

// search
.search-movie {
 background-color: rgba( 0, 0, 0, 0.15 );
 border-radius: 20px;
}

// new
.new-movie {
 text-align: center;
 padding: 150px 30px;
 max-width: 550px;
 background-color: rgba( 0, 0, 0, 0.4 );
 margin: 0 auto;
 border-radius: 20px;
}

[new="movie[body]"]{

}