// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
 .fa-star{
  color: #FF8B26;
 }

 .genre {
  margin-left: 30px;
 }

 .index-movie-contents {
  overflow: scroll;
  height: 600px;
 }

// show
.show-movie {
  background-color: rgba( 0, 0, 0, 0.5 );
  text-align: center;
  max-height: 900px;
  font-weight: bold;
  border-radius: 20px;
  padding: 30px 0;
}

.show-movie-body {
 text-align: left;
 margin: 30px;
}

// edit
.edit-movie {
 text-align: center;
 padding: 150px 30px;
 max-width: 550px;
 background-color: rgba( 0, 0, 0, 0.4 );
 margin: 0 auto;
 border-radius: 20px;
}

// search
.search-movie {
 background-color: rgba( 0, 0, 0, 0.6 );
 border-radius: 20px;
 padding: 30px 0;
}

// new
.new-movie {
 text-align: center;
 padding: 150px 30px;
 max-width: 550px;
 background-color: rgba( 0, 0, 0, 0.4 );
 margin: 0 auto;
 border-radius: 20px;
}

// form
#movie_body {
 width: 80%;
 height: 200px;
}

#movie_title, #movie_directed_by, #movie_genre_id {
 width: 60%;
}

// _movie
.movie-contents-height  {
 min-height: 50px;
}

.side-menu {
  padding-top: 30px;
  background-color: rgba( 500, 500, 500, 0.05 );
}

// _movie_ranking
.movie-list {
 background-color: rgba( 999, 999, 999, 0.7 );
 border-radius: 20px;
 padding-top: 10px;
 text-align: center;
 font-size: bold;
 max-height: 550px;
 border-bottom: 2px solid black;
}