// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show
.last-message {
  margin-left: 50px;
}

.background {
  padding-top: 30px;
  background-color: rgba( 50, 50, 50, 0.3 );
}