  <% if user_comment.present? %>
    <h3>感想はお一つまでになります。</h3>
  <% else %>
    <%= form_with(model:[movie, movie_comment], remote: true) do |movie_comment| %>
      <div id="evaluation">
        <label>評価</label>
        <%= movie_comment.hidden_field :evaluation, id: :movie_comment_star %>
      </div>
      <label>感想</label>
        <%= movie_comment.text_field :comment, placeholder: "感想入力欄" %>
        <%= movie_comment.submit "投稿する" %>
     <% end %>
  <% end %>