<% if model.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(model.errors.count, "エラー") %> 訂正をお願いいたします。
    </h3>

    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>